.devcontainer/
.docker/
.git/
.github/
.history/
.k8s/
coverage/
.etc/
test/
dist/
envs/
node_modules/
*.sqlite
docker-compose*.yaml
docker-compose*.yml
*.md
api.http
create-rsa.js
generate-token.js
Dockerfile
Dockerfile.prod